.banner img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.breadcrumb {
  background: #f5f5f5;
  padding: 15px 0;
  font-size: 14px;
}

.breadcrumb a {
  color: #6a1b9a;
  text-decoration: none;
}

.breadcrumb span {
  margin-left: 5px;
}
